.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    height: 100vh;
    background-color: #f4f4f4;
}

.wrapper {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* width: 400px; */
}

.wrapper h3 {
    text-align: center;
    margin-bottom: 20px;
}